.heading {
  font-weight: 600;
  text-align: center;
  font-size: 38px;
  padding: 20px;
}

.search-field {
  margin: 15px;
  border-radius: 15px;
  position: relative;
  left: -15px;
}

.btn.btn-primary {
  margin-top: 15px;
  background-color: #5f98da;
  border-color: #5f98da;
  transition: all 150ms ease-in-out;
}

.current-position {
  margin-top: 15px;
  padding: 0;
  position: relative;
  top: 13px;
  right: 10px;
  font-size: 28px;
  background: transparent;
  border: none;
  transition: all 150ms ease-in-out;
}
